.nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    min-width: $min-width;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    font-size: 1.2rem;
    // font-weight: 700;
    background: $bg-color;
    height: $nav-height;
    padding: 5px 40px 0 40px;

    &-logo {
        align-self: stretch;

        &-text {
            cursor: pointer;
            color: $gray-color;
            vertical-align: middle;
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
            font-weight: 700;
            text-decoration: none;

            &:hover, &:focus {
                color: $gold-color;
                transition: all 0.4s ease-in;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }

    &-valign {
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }

    &-bar {
        list-style: none;
        align-self: stretch;

        display: flex;
        justify-content: center;
        align-items: stretch;        

        &-item {
            align-self: stretch;

            /* margins */
            margin: 0 10px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            /*------------*/
            
            &-active {
                a {
                    border-bottom: 2px solid $dark-color;
                }
            }
            &-a {
                color: $dark-color;
                text-decoration: none;
                vertical-align: middle;
                display: inline-block;

                &:hover, &:focus {
                    color: $gold-color;
                    transition: all 0.3s ease-out;
                }

                &:active {
                    color: $gold-color;
                    border-bottom: 2px solid $gold-color;
                }
            }
        }
    }
}

.m-nav {
    display: none; //display only below 900px
    
    background: $bg-color;
    // font-weight: 700;
    font-size: 1.2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &-top {
        height: $nav-height;
        padding: 0 40px;

        display: flex;
        justify-content: space-between;
        align-items: stretch;

        &-item {
            align-self: stretch;
            
            &-valign {
                height: 100%;
                vertical-align: middle;
                display: inline-block;
            }

            &-logo {
                align-self: stretch;
                cursor: pointer;
                color: $gray-color;
                vertical-align: middle;
                display: inline-block;
                margin: 0;
                padding: 5px 0 0 0;
                font-size: 1.3rem;
                font-weight: 700;
                text-decoration: none;
    
                &:hover, &:focus {
                    color: $gold-color;
                    transition: all 0.4s ease-in;
                }
    
                &:active {
                    text-decoration: underline;
                }
            }

            &-hamburger {
                font-size: 2rem;
                &:before {
                    content:'\2261'; 
                }
                vertical-align: middle;
                border: none;
                background: transparent;
                cursor: pointer;

                &:hover, &:active {
                    color: $gold-color;
                    transition: all 0.3s ease-out;
                }
                &:active {
                    color: $gold-color;
                }
            }
        }
    }

    &-bar {
        height: calc(100vh - #{$nav-height});
        display: none;
        list-style: none;
        width: 100%;

        &-item {
            /* margins */
            margin: 15px 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            /*------------*/
            text-align: center;
            font-size: 1.7rem;

            &-active {
                a {
                    border-bottom: 2px solid $light-color;
                }
            }

            &-a {
                color: $light-color;
                text-decoration: none;

                &:hover, &:focus {
                    color: $dark-color;
                    transition: all 0.3s ease-out;
                }

                &:active {
                    color: $dark-color;
                    border-bottom: 2px solid $dark-color;
                }
            }
        }
    }

    &-active {
        height: 100vh;
        background: $gold-color;

        .m-nav-top {
            color: $light-color;

            &-item-hamburger {
                color: $light-color;

                &:hover, &:focus {
                    color: $dark-color;
                    transition: all 0.3s ease-out;
                }
                &:active {
                    color: $dark-color;
                }
            }
        }

        .m-nav-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media #{$max-tablet} {
    .nav {
        display: none;
    }

    .m-nav {
        display: block;
    }
}

