html {
    font-size: 16px;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: $min-width;

    font-family: 'Yantramanav', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: $bg-color;

}

ul {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    margin-top: $nav-height;
}

.page {
    width: 850px;
    margin: 0 auto;
    padding-top: 75px;

    &-title {
        font-size: 3rem;
        font-weight: 500;
        color: $gold-color;
        margin: 0;
    }

    &-divider {
        width: 50%;
        color: $gold-color;
        margin: 10px 0 50px 0;
        height: 2px;
        background: $gold-color;
        border: none;
    }

    &-text {
        font-size: 1.3rem;
        line-height: 1.95rem;
        text-align: justify;
        color: $gray-color;

        &-a {
            text-decoration: none;
            color: hsla(207.8, 46.4%, 49.3%, 1);
        
            &:hover, &:focus {
                color: hsla(207.7, 87.7%, 32.6%, 1);
                transition: all 0.3s ease-out;
            }
        
            &:active {
                color: $gold-color;
            }
        }   
    }
}

@media #{$max-tablet} {
    html {
        font-size: 13px;
    }
    .page {
        width: 90%;
        margin: 0 auto;

        &-divider {
            width: 90%;
        }
    }       
}