.page-contact {
    padding-top: 10px;
    font-size: 1.1rem;
    &-form {
        color: $dark-color;
        &-element {
            display: block;
            margin: 40px 0;

            &:focus-within { 
                color: $gold-color;
                transition: all 0.2s ease-in;
            }

            &-input {
                display: block;
                background: transparent;
                border: none;
                border-bottom: 1px solid $gray-color;
                width: 250px;

                &:focus {
                    border-color: $gold-color;
                    border-width: 2px;
                    transition: all 0.2s ease-in;
                    color: $gray-color;
                }
            }
            &-label {
                display: block;
                margin: 5px 0;
            }
            &-textarea {
                display: block;
                background: $slightly-darker-bg-color;
                border: 1px solid rgb(247, 237, 212);
                width: 70%;
                height: 150px;
                color: $gray-color;
                font-size: .9rem;
                line-height: 1.3rem;
                padding: 20px;

                &:focus {
                    border-color: $gold-color;
                    border-width: 2px;
                    transition: all 0.2s ease-in;
                }
            }
            &-button {
                cursor: pointer;
                display: block;
                border: 2px solid $gold-color;
                background: transparent;
                color: $gold-color;
                font-weight: bold;
                padding: 5px 10px;

                &:hover, &:focus {
                    background: $gold-color;
                    color: $bg-color;
                    transition: all 0.3s ease-in;
                }

                &:active {
                    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(85,85,85,1);
                    -moz-box-shadow: inset 0px 0px 2px 2px rgba(85,85,85,1);
                    box-shadow: inset 0px 0px 2px 2px rgba(85,85,85,1);
                }
            }
        }
    }
}

@media #{$max-tablet} {
    .page-contact {
        &-form {
            &-element {
                &-textarea {
                    width: calc(100% - 40px);
                }
            }
        }
    }
}