//Fonts
@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

//global CSS
@import "./vars.scss";
@import "./app.scss";
@import "./_navbar.scss";
@import "./_enhancements.scss";

//Page CSS
@import "./_index.scss";
@import "./_about.scss";
@import "./_resources.scss";
@import "./ota.scss";
@import "./apply.scss";
@import "./events.scss";