:root {
    //colors
    --dark-color: hsla(0, 0%, 13.3%, 1);
    --light-color: hsla(0, 0%, 93.3%, 1);
    --gold-color: hsla(43.1, 75.6%, 50.2%, 1);

    //sizes
    --nav-height: 50px;
}
/*---------------------------------------------*/

//Sass variables for native css variables

//colors
$dark-color: var(--dark-color); 
$light-color: var(--light-color);
$gold-color: var(--gold-color);

// sizes 
$nav-height: #{var(--nav-height)};
