:root {
    //colors
    --dark-color: hsla(0, 0%, 3.3%, 1);
    --light-color: hsla(0, 0%, 90%, 1);
    --gold-color: rgb(177, 129, 11);
    --gray-color: hsla(0, 0%, 10.3%, 1);

    --bg-color: hsla(43.2, 67.4%, 99%, 1);
    --slightly-darker-bg-color:hsla(50, 99.5%, 92.9%, 1);
    --white-color: hsla(0, 0%, 99%, 1);
    --black-color: hsla(0,0,0,1);
    //sizes
    --nav-height: 50px;
}
/*---------------------------------------------*/

//Sass variables for native css variables

//colors
$dark-color: var(--dark-color); 
$light-color: var(--light-color);
$gold-color: var(--gold-color);
$gray-color: var(--gray-color);
$bg-color: var(--bg-color);
$slightly-darker-bg-color: var(--slightly-darker-bg-color);
$white-color: var(--white-color);
$black-color: var(--black-color);

// sizes 
$nav-height: #{var(--nav-height)};
$min-width: 300px;
$tablet-width: 950px;

// media queries 
$max-tablet : "screen and (max-width:" + $tablet-width + ")";