:root {
    //colors
    --dark-color: hsla(0, 0%, 13.3%, 1);
    --light-color: hsla(0, 0%, 93.3%, 1);
    --gold-color: hsla(43.1, 75.6%, 50.2%, 1);
    --gray-color: hsla(0, 0%, 33.3%, 1);

    --bg-color: hsla(43.2, 100%, 98.2%, 1);

    //sizes
    --nav-height: 50px;
}
/*---------------------------------------------*/

//Sass variables for native css variables

//colors
$dark-color: var(--dark-color); 
$light-color: var(--light-color);
$gold-color: var(--gold-color);
$gray-color: var(--gray-color);
$bg-color: var(--bg-color);

// sizes 
$nav-height: #{var(--nav-height)};
$min-width: 300px;
$tablet-width: 950px;

// media queries 
$max-tablet : "screen and (max-width:" + $tablet-width + ")";